/*--------------BOX 2-----------*/
#box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: box-shadow 0.3s, background-color 0.3s;
}

/* Själva väderinformationen */
#weather-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 0px;
  text-align: center;
  border-color: 2px #333;
  font-size: 0.8rem;
  color: #555;
  overflow-y: hidden;
  position: relative;
}

#weather-info ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  padding: 0;
  margin-bottom: 0px;
}

#weather-info li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 13px;
  align-items: center;
  width: 225px;
  height: 45px;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#weather-info img {
  width: 50px;
  height: 50px;
  margin-top: 5px;
}

#weather-info li strong {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 5px;
}

#weather-info li div {
  font-size: 0.9rem;
  color: #666;
}

#weather-info:hover {
  overflow-y: auto;
}

/* Scrollbar när användaren hovrar över väderprognosen */
#weather-info::-webkit-scrollbar {
  width: 3px;
  z-index: -2;
  position: absolute;
}

#weather-info::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

#weather-info::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

/* När API’t laddar data */
#weather-info.loading {
  color: #aaa;
  font-style: italic;
}

/* Om det skulle bli ett felmeddelande */
#weather-info.error {
  color: #d9534f;
  font-weight: 600;
}
